<div class="row">
  <div class="col-md-4">
    <center>
      <%= image_tag(@user.avatar_url, :class=> "img-circle avatar") if @user.avatar?%>
      <h3 class="media-heading">
        <%= @user.name %>
      </h3>

      <% unless @user.twitter.blank? %>
      <a href="https://twitter.com/<%=@user.twitter %> " class="btn btn-info btn-xs">
        <i class="fa fa-twitter"></i>
        Twitter
      </a>
      <% end %>
      <% unless @user.facebook.blank? %>
      <a href="https://facebook.com/<%=@user.facebook %> " class="btn btn-primary btn-xs">
        <i class="fa fa-facebook"></i>
        Facebook
      </a>
      <% end %>
      <% unless @user.github.blank? %>
      <a href="https://github.com/<%=@user.github %> " class="btn btn-github btn-xs">
        <i class="fa fa-github"></i>
        GitHub
      </a>
      <% end %>

    </center>
  </div>
  <div class="col-md-8">
    <div class="about">
    <h3>About</h3>
    <p>
    <%= @user.about %>
    </p>
    </div>
    <div class="projects">
      <h3>Projects</h3>
      <% @user.memberships.each do |membership| %>
        <div class="project">
          <h4><%= link_to membership.project.name, membership.project %></h4>
            <p><%= membership.project.short_description %></p>
            <a href='#' class="label label-default">Tag here</a>
          <hr>
        </div>
      <% end %>  
    </div>
  </div>
</div>
