<% if current_page?(root_url) %>
<div class="jumbotron">
  <h1>tempel <small>.tech</small></h1>
  <p>Find team and start new startup or learn new technologies right now!</p>
  <p><%=link_to 'Learn more', page_path('about'), class:'btn btn-lg btn-primary' %></p>
</div>
<% end %>
<h1 style="overflow:hidden;" ="">Latest Projects
  <small>
    <% if params[:search] %>
      tagged with <%= params[:search] %>
    <% else %>
      <%= link_to 'New Project', new_project_path , class: 'btn btn-default pull-right'%>
    <% end %>
  </small>
</h2>

<% @projects.each do |project| %>
  <div class="thumbnail">
    <div class="caption">
      <%= link_to project.name, project, class: "project-name" %>
      <p><%= project.short_description %></p>
      <% project.tags.each do |tag| %>
        <span class="label label-default"><%= tag.name %></span>
      <% end%>
    </div>
  </div>
<% end %>
<%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
