<div class="row">
  <div class="project">
    <div class="col-md-9">
      <div class="project-name">
        <%= @project.name %>
        <% if new_request?(@project) %>
          <%= link_to 'Send requests', project_requests_path(@project), class: 'btn btn-default pull-right', :method => :post %>
        <% end %>
      </div>
      <div class="description">  
        <%= markdown(@project.description) %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Team</h3>
        </div>
        <div class="panel-body">
          <% @project.memberships.each do |membership| %>
            <div class="user">
              <img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle pull-left avatar" alt="Avatar">
              <a href="#" class="name"><%= membership.user.email %></a>
            </div>
          <% end %>            
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Links</h3>
        </div>
        <div class="panel-body">
          <a href="https://<%= @project.slack %>.slack.com" class="menu-link btn"><%= image_tag("slack.svg") %></a>
          <a href="https://trello.com/b/<%= @project.trello %>" class="menu-link btn"><%= image_tag("trello.png") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
