<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @project.short_description %>
</p>

<p>
  <strong>Requests:</strong>
  <br>
  <% @project.requests.each do |request| %>
    <%= request.user.email %> | <%= link_to "Delete", project_request_path(@project,request), method: :delete %> <br> 
  <% end %>
</p>

<p>
  <strong>Team:</strong>
  <br>
  <% @project.memberships.each do |membership| %>
    <%= membership.user.email %> | <%= link_to "Delete", project_membership_path(@project,membership), method: :delete %> <br> 
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to "Request", project_requests_path(@project), method: :post %>
